# Eclipse Project Files #
.cproject
.project
.classpath
.settings/
.externalToolBuilders/

# VIM swp files
*.swp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
